.container {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-rows: 300px 150px 150px 300px;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid black;
  min-width: 800px;
}

.news {
  grid-column: 1/3;
  grid-row: 1/2;
}

.longread {
  grid-column: 3/4;
  grid-row: 1/2;
  padding: 10px;
}

.search {
  grid-column: 1/4;
  grid-row: 2/3;
}

.advertisement {
  grid-column: 1/4;
  grid-row: 3/4;
}

.applets {
  grid-column: 1/4;
  grid-row: 4/5;
  display: flex;
}

.news, .longread, .search, .advertisement, .applets {
  border: 1px solid gray;
}


.news__control {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.news__list {
  display: flex;
  list-style: none;
}

.news__exchange {
  margin-top: 20px;
}


.search__list {
  list-style: none;
  display: flex;
}

.search__item {
  padding: 10px;
}

.search__field {
  width: 90%;
  margin-left: 20px;
}

.applets__item {
  width: 33%;
  padding: 10px;
}

